*{
    margin: auto;
}



nav{
    position: absolute;
    margin-top:40px;
    width: 390px;
    height: 50px;
    margin-left:1110px;
    display: flex;
    
}

nav a{
    font-size: 100%;
    font-weight: bold;
    color: rgb(14, 10, 1);
    text-decoration: none;
    font-family: "Bree Serif", serif;
    z-index: 1;
}
body{
  height: 100vh;
}

img{
  background: no-repeat;
}




nav span{
  position: absolute;
  top: 5px;
  left: 0;
  width: 92px;
  height: 80%;
  background: linear-gradient(45deg, rgb(255, 255, 255), #ee9494);
  border-radius: 25px;
  transition: .9s;
  border: solid rgb(176, 241, 170) 1.5px;
  
  
}
  
  nav a:nth-child(1):hover~span
  {
    left: 0;
  }
  
  nav a:nth-child(2):hover~span
  {
    left: 92px;
    width: 110px;
    
  }
  nav a:nth-child(3):hover~span
  {
    left: 205px;
    width: 90px;
    
  }
  nav a:nth-child(4):hover~span
  {
    left: 295px;
    width: 120;
  }





body{
    background: linear-gradient(45deg, rgb(210, 211, 141), #ffa2a2);
}




img{
  position: absolute;
  height: 580px;
  margin-top: 100px;
  margin-left: 110px;
  width:835px;
}









  .profile{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 490px;
    margin-left: 900px;
    margin-left: 1300px;

  }
  .profile img{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: -900px;
    border-radius: 150px;
    border: solid black;
  }

  .Content{
    position: absolute;
    margin-left: 100px;
    margin-top: -565px;
    
  }
.Content h1{
    display: flex;
    justify-content: center;
    color:rgb(226, 194, 14);
    margin-left: 490px;
    padding: 20px;
    font-size: 80px;
    font-family: "Great Vibes", cursive;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: 2s;
    animation-name: cupple;
}




@keyframes cupple{
    100%{
        transform: rotateX('50%') rotateY('100%');
    }

}



.Content h2{
    color: rgb(5, 253, 253);
    font-size: 40px;
}
.Content h3{
    color:rgb(255, 177, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -10px;
    font-size: 40px;
}
p{
    color: rgb(238, 237, 236);
    font-size: 25px;
    text-shadow: solid black;
    font-family: Arial, Helvetica, sans-serif
}

.hearts{
  position: absolute;
}



